.bg-color-1{
  background-color: rgb(222, 117, 31);
}
.bg-color-2{
  background-color: rgb(112, 161, 23);
}
.bg-color-3{
  background-color: rgb(178, 203, 59);
}
.bg-color-4{
  background-color: rgb(90, 13, 140);
}
.bg-color-5{
  background-color: rgb(42, 213, 45);
}
.bg-color-6{
  background-color:rgb(37, 199, 209);
}
